.bg_image{
    background-image: url('images/office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right top;
}

.text_right{
    text-align: right;
    padding-right: 10px;
}