<app-navbar></app-navbar>
<div class="container">
    <div class="container text-white px-4 mt-1 ">
        <div class="row ">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow-lg">
                    <h4 class="text-dark text-center mt-1">Search Help Articles</h4>
                    <div class="card-body">
                        <form [formGroup]="findQuestions" (ngSubmit)="searchResult()" class="d-flex border border-dark rounded-pill">
                            <input class="form-control rounded-pill" formControlName="query" type="search"
                                placeholder="Search Here" aria-label="Search">
                            <button [disabled]="!findQuestions.valid" class="btn btn-light rounded-pill"
                                 type="submit"><i class="bi bi-search"></i></button>
                            <span class="text-danger"
                                *ngIf="findQuestions.controls['query'].dirty && findQuestions.hasError('required', 'query')">*Query
                                is required</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="results">

        <div *ngIf="filterQuestions.length>0; else other_content">
            <div *ngFor="let filterSearch of filterQuestions">
                <div class="row">
                    <div class="col-md-6" *ngFor="let question of filterQuestions">
                        <div class="card my-1 text-dark bg-light" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{question.subject}}...</h5>
                                <p class="card-text"><b>Product: {{question.product}}</b></p>
                                <p class="card-subtitle mb-2 text-muted">By: {{question.email}} <br><b>Date:
                                        {{question.date}}</b></p>
                                <button (click)="viewDetails(question.id)" class="">View
                                    Details</button>&nbsp;&nbsp;&nbsp; <br>
                                <a href="#" class=""><i class="bi bi-chat-dots-fill"></i> Comments</a>&nbsp;&nbsp;&nbsp;
                                <a href="#" class=""><i class="bi bi-balloon-heart-fill"></i> Like</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #other_content>
            <span class="text-danger"><b>No results found</b></span>
        </ng-template>

    </div>

</div>
